.modal {
  background-color: $white-color;
  width: 200px;
  padding: 20px;
  h1 {
    @include displayCenter(center, center);
    flex-direction: column;
    color: #000;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    &:hover {
      color: $main-color;
    }
  }
}
