@mixin displayCenter($align-items, $justify-content) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

$sm: 576px;
$md: 768px;
$lg: 992px;
$xlg: 1200px;

$white_color: #ffffff;
$main-color: rgb(64, 92, 255);
$color-four: rgb(159, 137, 247);
$color-six: rgb(33, 211, 253);


.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
