@mixin displayCenter($align-items, $justify-content) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

$sm: 576px;
$md: 768px;
$lg: 992px;
$xlg: 1200px;

$white_color: #ffffff;
$main-color: rgb(64, 92, 255);
$color-four: rgb(159, 137, 247);
$color-six: rgb(33, 211, 253);
// --color-two: rgb(223, 251, 109);
// --color-two-rgb: 223, 251, 109;
// --color-three: rgb(20, 21, 29);
// --color-three-rgb: 20, 21, 29;
// --color-four-rgb: 159, 137, 247;
// --color-five: rgb(109, 43, 255);
// --color-five-rgb: 109, 43, 255;

// --color-six-rgb: 33, 211, 253;
// --color-seven: rgb(22, 23, 32);
// --color-seven-rgb: 22, 23, 32;
// --color-eight: rgb(194, 194, 194);
// --color-eight-rgb: 194, 194, 194;
// --color-nine: rgb(255, 204, 74);
// --color-nine-rgb: 255, 204, 74;
// --color-ten: rgb(190, 190, 190);

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
