.header {
  background-color: #161720;
  padding: 35px 0;
  color: $white_color;
  .container {
    .header_wrapper {
      @include displayCenter(center, space-between);
      .header_left {
        @include displayCenter(center, space-between);
        font-size: 35px;
        font-weight: 600;
        .logo {
          background-image: -webkit-linear-gradient(
            rgb(33, 211, 253) 0%,
            rgb(33, 211, 253) 32.16%,
            rgb(64, 92, 255) 64.84%,
            rgb(159, 137, 247) 98.02%
          );
          -webkit-text-fill-color: transparent;
          background-clip: text;
          color: transparent;
        }
        span {
          color: $white_color;
        }
      }
      .header_middle_wrapper {
        @include displayCenter(center, center);
        .header_middle {
          @include displayCenter(center, center);
          padding: 0 25px;
          a {
            text-decoration: none;
            color: $white-color;
            font-size: 14px;
            &:hover {
              color: $main-color;
            }
          }
          .bounce {
            margin-left: 5px;
            cursor: pointer;
            &:hover {
              animation: bounce 2s infinite;
            }
          }
          &:hover {
            color: $main-color;
          }
        }
      }
      .header_right_wrapper {
        @include displayCenter(center, center);
        font-size: 25px;
        .search_icon {
          padding: 0 10px;
        }
        .menu_icon {
          padding: 0 10px;
          // position: absolute;
          // top: 0;
          // right: 0;
        }
        .sideMenu {
          padding: 0 0 0 20px;
        }
      }
    }
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-15px);
  }
}

// background: linear-gradient(90deg, var(--color-six) 0%, var(--color-six) 32.16%, var(--main-color) 64.84%, var(--color-four) 98.02%);
