.header {
  background-color: #161720;
  padding: 35px 0;
  height: 120px;
  width: 100%;
  color: $white_color;
  z-index: 9;
  position: fixed;
  top: 0px;
  left: 0px;
  .container {
    height: 100%;
    .header_wrapper {
      height: 100%;
      @include displayCenter(center, space-between);
      .header_left {
        @include displayCenter(center, space-between);
        font-size: 35px;
        font-weight: 600;
        .logo {
          background-image: -webkit-linear-gradient(
            rgb(33, 211, 253) 0%,
            rgb(33, 211, 253) 32.16%,
            rgb(64, 92, 255) 64.84%,
            rgb(159, 137, 247) 98.02%
          );
          -webkit-text-fill-color: transparent;
          background-clip: text;
          color: transparent;
        }
        span {
          color: $white_color;
        }
      }
      .header_middle_wrapper {
        height: 100%;
        @include displayCenter(center, center);
        .header_middle {
          @include displayCenter(center, center);
          padding: 0 25px;
          position: relative;
          a {
            text-decoration: none;
            color: $white-color;
            font-size: 14px;
            &:hover {
              color: $main-color;
            }
          }
          .bounce {
            margin-left: 5px;
            cursor: pointer;
          }
          &:hover {
            color: $main-color;
            .bounce {
              animation: bounce 2s infinite;
            }
          }
          .modal {
            position: absolute;
            top: 50px;
            left: 0;
            width: 150px;
            height: max-content;
            background-color: #fff;
            color: #000;
            padding: 10px;
            font-size: 12px;
            margin: auto;
            h1 {
              line-height: 30px;
              cursor: pointer;
              &:hover {
                color: blue;
              }
            }
          }
        }
      }
      .header_right_wrapper {
        @include displayCenter(center, center);
        font-size: 25px;
        .search_icon {
          padding: 0 10px;
          cursor: pointer;
        }
        .menu_icon {
          padding: 0 10px;
          cursor: pointer;
        }
        .sideMenu {
          padding: 0 0 0 20px;
          cursor: pointer;
        }
      }
    }
  }
  &.scrolled {
    background-color: $white-color;
    color: #000;

    .header_wrapper {
      .header_left {
        span {
          color: #000;
        }
      }
      .header_middle_wrapper {
        .header_middle {
          a {
            color: #000;
          }
        }
      }
    }
  }
}


@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-15px);
  }
}
